In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
feature = pd.read_csv('features.csv')
stores = pd.read_csv('stores.csv')
data = pd.read_csv('train.csv')

In [3]:
store_data = data.merge(stores , on = 'Store' )
store_data.drop('IsHoliday' , axis=1 , inplace = True)

sales = store_data.merge(feature , on = ['Store' , 'Date'])

In [4]:
sales.head()

,Store,Dept,Date,Weekly_Sales,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,1,2010-02-05,24924.50,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2,2010-02-05,50605.27,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
2,1,3,2010-02-05,13740.12,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
3,1,4,2010-02-05,39954.04,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
4,1,5,2010-02-05,32229.38,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False

In [5]:
sales['IsHoliday'] = np.where(sales['IsHoliday']==True , 1,0)

sales['MarkDown1']= np.where(sales['MarkDown1'].isnull() , 0 ,sales['MarkDown1'])
sales['MarkDown2']= np.where(sales['MarkDown2'].isnull() , 0 ,sales['MarkDown2'])
sales['MarkDown3']= np.where(sales['MarkDown3'].isnull() , 0 ,sales['MarkDown3'])
sales['MarkDown4']= np.where(sales['MarkDown4'].isnull() , 0 ,sales['MarkDown4'])
sales['MarkDown5']= np.where(sales['MarkDown5'].isnull() , 0 ,sales['MarkDown5'])

temp = pd.get_dummies(sales['Type'] )
sales = pd.concat([sales , temp] , axis = 1)

sales.drop(['Date' , 'Type'] , axis = 1 , inplace = True)

In [6]:
sales.tail(20)

,Store,Dept,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,A,B,C
421550,45,60,117.00,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421551,45,67,5772.09,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421552,45,71,2789.38,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421553,45,72,33366.60,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421554,45,74,9814.88,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421555,45,79,14618.60,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421556,45,80,670.88,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421557,45,81,14693.09,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421558,45,82,17360.33,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421559,45,83,717.82,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421560,45,85,1689.10,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421561,45,87,8187.66,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421562,45,90,25352.32,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421563,45,91,16330.84,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421564,45,92,54608.75,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421565,45,93,2487.80,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421566,45,94,5203.31,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421567,45,95,56017.47,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421568,45,97,6817.48,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0
421569,45,98,1076.80,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,0,0,1,0

In [7]:
cor = sales.corr()

In [8]:
from sklearn.model_selection import train_test_split

feature_train , feature_test ,label_train , label_test = train_test_split(sales.drop(columns='Weekly_Sales') , 
                                                                           sales['Weekly_Sales'] ,
                                                                           test_size = 0.3,
                                                                           random_state = 42)

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
#model= LinearRegression()
model =RandomForestRegressor()
model.fit(feature_train , label_train)
predict = model.predict(feature_train)

from sklearn.metrics import r2_score

print('train : ' , r2_score(label_train , predict))
predict_test = model.predict(feature_test)
print('test : ' , r2_score(label_test , predict_test))
from sklearn import metrics

print('rmse : trian = ' , np.sqrt(metrics.mean_squared_error(label_train , predict)))
print('rmse: test = ' , np.sqrt(metrics.mean_squared_error(label_test , predict_test)))

train :  0.9926499552100208
test :  0.9435854291579141
rmse : trian =  1938.4491605341234
rmse: test =  5449.587219153424